html, body {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    background-color: #e3eeff;
}



@import './components/Loaders/SkeletonLoader/SkeletonLoader.scss';
@import './styles/CoinDetail.scss';